/* Footer.css */
.footer {
  background-color: #f1f2f2;
  padding: 20px;
  text-align: center;
}

.footer__info,
.footer__customer-service,
.footer__social-media {
  margin-bottom: 20px;
}

.footer__social-media a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}
