/* Header.css */
.header {
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header__logo img {
  height: 50px;
}

.header__search {
  flex-grow: 1;
  margin: 0 20px;
  display: flex;
}

.header__search input {
  flex-grow: 1;
  padding: 5px;
}

.header__search button {
  padding: 5px 10px;
}

.header__user-menu a {
  margin-left: 15px;
  text-decoration: none;
  color: #333;
}

.header__nav {
  background-color: #f8f8f8;
}

.header__nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 10px 20px;
}

.header__nav li {
  margin-right: 20px;
}

.header__nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
